# Show Maintenance and Verification Status

In this view some instrument information and all Maintenance and Verification Processes are listed. If no or no valid instrument was selected the list is empty. During a Maintenance or Verification Process is running the user has no access on the Process Status Information window (cannot check the 'execute' check box).

## &#x20;Execute:

<table data-header-hidden><thead><tr><th width="251"></th><th></th></tr></thead><tbody><tr><td><img src="../../../.gitbook/assets/image (14).png" alt="" data-size="original"></td><td>Process is selected for run</td></tr><tr><td><img src="../../../.gitbook/assets/image (15).png" alt="" data-size="original"></td><td>Process is not selected for run</td></tr><tr><td>Process </td><td>Name of the Maintenance or Verification Process</td></tr><tr><td>Status</td><td>Status of the Maintenance or Verification Process. (red, bold if status is required)</td></tr><tr><td>Expired Date / Time</td><td>Last date and time where the process is valid.</td></tr><tr><td>Processed Date / Time</td><td>Date and time of the last process execution</td></tr><tr><td>Processed Status</td><td>Status of the last process execution</td></tr></tbody></table>

## &#x20;Activities:

| Select / re-select a process | Click with the mouse into the specific check box or press the Spacebar button.                               |
| ---------------------------- | ------------------------------------------------------------------------------------------------------------ |
| Refresh                      | All process status information will be refreshed every one minute and after a process / method was executed. |
