# Maintenance & Verification

Provides interface to periodic maintenance routines to ensure safe and reliable operation of STAR instrument and accessories

Only use distilled water to clean O-rings

<figure><img src="../../.gitbook/assets/image (149).png" alt=""><figcaption></figcaption></figure>

Maintenance Intervals&#x20;

* DAILY - recommended before instrument shut-down
* WEEKLY - recommended at the end of the week before shut-down
* EVERY SIX MONTH - preventive service maintenance carried out by a service engineer – includes Volume Field Verification (VFV)
* Always consider tip waste contaminated. Handle and dispose properly.
* Use cleaning, disinfecting and decontaminating fluids in accordance with manufacturer's instructions. Do not use hypochlorite or bleaching fluids
